.App{
  background-color:#FFFF;
  background-image: url("https://rainsaxfrontend-mentor-projects.github.io/frontend-quiz-app/assets/images/pattern-background-mobile-light.svg");
  font-family: 'Rubik',sans-serif;
}